/*
Absolute positioning
*/
body
{
    margin: 0px;
}
.bg{
    
    background-color:darkcyan;
    height: 300px;
    width: 300px;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top:200px;

}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
  position: fixed;
  bottom: 615px;
  left : 0px

}